@model IEnumerable<GoalNewsV2.Models.Client>

@{
    ViewBag.Title = "Clientes";
}

<div class="jumbotron">
    <div class="container">
        <h2>Lista de Clientes</h2>
        <p>
            @Html.ActionLink("Añadir cliente", "Create",null, new { @class="btn btn-success", id="AddClient"})
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Clientes")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ClientID }, new { @class = "btn btn-default btn-xs" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ClientID }, new { @class = "btn btn-default btn-xs" }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.ClientID }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>