@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <div class="container">
        <h2 class="text-danger">Error al procesar su petición</h2>
        <h3 class="text-danger">Error : @Model.Exception.Message</h3>
        <p class="text-danger">Controlador : @Model.ControllerName</p>
        <p class="text-danger">Método : @Model.ActionName</p>
        @Html.ActionLink("Volver", @Model.ActionName, @Model.ControllerName,new { @class = "btn btn-info"}) |
        @Html.ActionLink("Volver a la página inicial", "Index", "News", null , new { @class = "btn btn-info" })

    </div>
</div>