@model IEnumerable<GoalNewsV2.Models.Request>

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <div class="container">
        <h2 style="text-align:center">Lista de peticiones</h2>
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Petición")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empleado)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Resuelta)
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                var res = "false";
                if (@item.Resuelta == true)
                {
                    res = "true";
                }
                else
                {
                    res = "false";
                }

                <tr class="@res">
                    <td>
                        @Html.DisplayFor(modelItem => item.Peticion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleado)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Resuelta)
                        </td>*@
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-default btn-xs" }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>